#app {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
#demo {
    width: 475px;
    height: 475px;
    position: relative;
}
#download {
  display:none
}
.main {
  text-align: center;
}
.pictit {
    background-size: cover;
    position: absolute;
    right: -1px;
    left: 0;
    top: 0;
    bottom: 0;
}
.avatar{
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.tool {
    margin-top: 20px;
}
.tool button {
    margin-top: 20px;
}
.tool .buttons button {
  margin-right: 10px
}
.hide {
    display: none
}
.copyright {
    margin-top:10px;font-size:14px;
}